---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const endpoint = "https://yvsqeurljhxwfykzgfyb.supabase.co/rest/v1/Konaktepe_nails?select=*";
  const key = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2c3FldXJsamh4d2Z5a3pnZnliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5Nzc0ODMsImV4cCI6MjA3ODU1MzQ4M30.tQHxzSel-Iqvcvuh9XBVKsvHr-oNSd8XLUyhsGABUGo`;

  const options = {
    method: "GET",
    headers: {
      apikey: key,
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;
---

<Layout>
  <section class="product-detail">
    <div class="product-grid">
      <div class="product-img">
        <img src=`https://yvsqeurljhxwfykzgfyb.supabase.co/storage/v1/object/public/konaktepe_images/${post.image}` alt="product image" />
      </div>
      <section class="product-content">
        <h1>{post.productname}</h1>
        <p class="price">{post.price},-</p>
        <div class="product-info">
          <h2>Beskrivelse</h2>
          <p>{post.description}</p>
        </div>
        <div class="product-info">
          <h2>Camillas anbefaling</h2>
          <p class="c-recommendation">{post.recommendation}</p>
        </div>
        <div class="product-info">
          <h2>Sådan bruger du produktet</h2>
          <p>{post.howtouse}</p>
        </div>
      </section>
    </div>
  </section>
  <section class="related">
    <h2>Måske synes du også godt om?</h2>
    <div class="related-wrapper">
      <div class="related-grid">
        <div class="related-item">
          <a href="/listview"><img src="/konaktepe_products_edited-10.webp" alt="product 1 image" /></a>
        </div>
        <div class="related-item">
          <a href="/listview"><img src="/konaktepe_products_edited-28.webp" alt="product 2 image" /></a>
        </div>
        <div class="related-item">
          <a href="/listview"><img src="/konaktepe_products_edited-31.webp" alt="product 3 image" /></a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .product-detail {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 6rem;
  }
  .price {
    font-family: "ArchivoNarrowBold";
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  .c-recommendation {
    font-style: italic;
  }

  /* grid*/
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
  }

  .product-img img {
    width: 100%;
    display: block;
    border-radius: 2px;
  }

  .product-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .product-info p {
    line-height: 1.6;
  }

  /* related cases*/
  .related-wrapper {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .related {
    text-align: center;
  }

  .related-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .related-item img {
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
  }
  .related-item img {
    transition: transform 0.3s ease;
  }
  .related-item img:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }

  /* responsiv */
  @media (max-width: 900px) {
    .product-grid,
    .related-grid {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  @media (max-width: 900px) {
    .product-detail {
      padding: 3rem 0;
    }

    .product-content {
      gap: 1.5rem;
    }
  }
  @media (max-width: 900px) {
    .related-wrapper {
      flex-direction: column;
      gap: 1rem;
    }

    /* HJÆÆLP HEEER */
    .product-img {
      justify-self: center;
    }
    .product-img img {
      max-width: 70%;
    }
  }
</style>
